.calendar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 600;
    color: #47396E;
}

.nav-btn {
    text-decoration: none;
    color: #47396E;
    font-size: 26px;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 10px;
    transition: .2s;
}

.nav-btn:hover {
    background-color: #ece6ff;
}

.calendar-box {
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

.week-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-bottom: 10px;
    font-weight: bold;
    color: #5a4f79;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
}

.day {
    height: 110px;
    border-radius: 10px;
    background: #faf7ff;
    padding: 6px;
    position: relative;
}

.day.empty {
    background: transparent;
}

.date-num {
    font-size: 14px;
    font-weight: 600;
    color: #47396E;
}

.event-bar {
    width: 100%;
    display: block;
    padding: 3px 6px;
    font-size: 12px;
    color: white;
    border-radius: 6px;
    margin-top: 4px;
}

/* Warna berdasarkan prioritas */
.high {
    background: #d9534f;
}

.medium {
    background: #a285ff;
}

.low {
    background: #6bc27e;
}
