.task-card {
    background: white;
    border-radius: 14px;
    padding: 18px 22px;
    margin-bottom: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-left span:first-child {
    color: #8A6EB8;
    font-weight: 700;
    font-size: 14px;
}

.task-left span:last-child {
    font-size: 18px;
    font-weight: 700;
    color: #2F2843;
}

/* PRIORITY BADGES */
.badge-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 0 18px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    line-height: 1;
    color: white;
}

.tag-low    { background:#2ecc71 !important; width: 80px; }
.tag-medium { background:#3498db !important; width: 80px; }
.tag-high   { background:#ff9f1c !important; width: 80px; }

/* STATUS BADGE */
.tag-status {
    width: 90px;
    background:#EEE6FF !important;
    color:#5a3fa3 !important;
}

/* BUTTONS */
.btn-edit {
    background:#6c5a8d !important;
    color:white;
    border:none;
}

.btn-delete {
    background:#d93636 !important;
    color:white;
    border:none;
}

/* ADD TASK CARD */
.add-task-card {
    background:white;
    border-radius:14px;
    padding:20px;
    box-shadow:0 4px 12px rgba(0,0,0,0.07);
}

.add-btn {
    background:#8A6EB8;
    border:none;
    padding:12px;
    width:100%;
    border-radius:12px;
    font-weight:700;
    color:white;
}
